.button-off{
    background: #F54B3D;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    position: absolute;
    right: 24px;
    top: 24px;
    border: none;
    cursor:pointer;
    transition: box-shadow 0.3s ease;
}

.button-off:hover{
    box-shadow: 0 0 8px 2px #F54B3D;
}
