*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.view-circle{
    width: 900px;
    height: 900px;
    border-radius: 50%;
    border: solid 4px #000000;
    background: #131416;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 8px 0 #262626, inset 0 0 8px 0 #2e2e2e;
}

.view{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #505051;
}


.main{
    width: 260px;
    height: 720px;
    /*border: solid 4px #2a2a2a;*/
    box-shadow: 0 0 5px 0 #262626;
    border-radius: 30px;
}
.main-top{
    height: 360px;
    width: 260px;
    background: #1E1E1E;
    border-radius: 30px 30px 0 0;
    overflow: hidden;
    position: relative;
    padding: 16px;
    border: solid 4px #2a2a2a;
    border-bottom: none;
}

.button-off{
    background: #F54B3D;
    width: 24px;
    height: 24px;
    border-radius: 20px;
    position: absolute;
    right: 24px;
    top: 24px;
    border: none;
    cursor:pointer;
    transition: box-shadow 0.3s ease;
}

.button-off:hover{
    box-shadow: 0 0 8px 2px #F54B3D;
}

.main-top-control{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.main-top-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-top-row.main-top-row--center{
    justify-content: center;
}

.button-arrow{
    width: 40px;
    height: 40px;
    background: none;
    border: 0;

}


.button-arrow-icon-top{
    width: 0px;
    height: 0px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 24px solid #444444;
    cursor:pointer;
    transition: border 0.3s ease;
}


.button-arrow-icon-top:hover {
    border-bottom: 24px solid #ffffff;
}

.button-arrow-icon-left{
    width: 0px;
    height: 0px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-right: 24px solid #444444;
    cursor: pointer;
    transition: border 0.3s ease;
}

.button-arrow-icon-left:hover{
    border-right: 24px solid #ffffff;
}

.button-arrow-icon-right{
    width: 0px;
    height: 0px;
    border-top: 16px solid transparent;
    border-bottom: 16px solid transparent;
    border-left: 24px solid #444444;
    cursor: pointer;
    transition: border 0.3s ease;
}

.button-arrow-icon-right:hover{
    border-left-color: white;
}

.button-arrow-icon-bottom{
    width: 0px;
    height: 0px;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-top: 24px solid #444444;
    cursor: pointer;
    transition: border 0.3s ease;
}

.button-arrow-icon-bottom:hover{
    border-top: 24px solid #ffffff
}

.button-text{
    height: 80px;
    width: 80px;
    background: none;
    border: 0;
    border-radius: 50%;
    color: white;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button-text:hover {
    background: #444444;
}

.main-bottom{
    background: #383838;
    display: flex;
    padding: 40px;
    height: 360px;
    border-radius: 0 0 30px 30px;
    overflow: hidden;
    position: relative;
    border: solid 4px #444444;
    border-top: none;
}

.main-bottom-column{
    display: flex;
    flex-direction: column;
}

.main-bottom-column.main-bottom-column--left{
    margin-right: 10px;
}

.main-bottom-column.main-bottom-column--right{
    margin-left: 10px;
}

.button-double{
    width: 80px;
    height: 180px;
    border-radius: 40px;
    background: #4B4B4B;
    box-shadow: 0 0 5px 5px #262626;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button-double:hover{
    background: #1E1E1E;
}

.button-double .button{
    box-shadow: none;
    background: none;
}

.button.button--large{
    width: 80px;
    height: 180px;
    border-radius: 40px;
}

.button{
    background: #4B4B4B;
    border: 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 5px #262626;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button:hover{
    background: #1E1E1E;
}

.button.button--last{
    margin: 0;
}
