*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main{
    background: #1E1E1E;
    width: 260px;
    height: 720px;
    border-radius: 30px;
    overflow: hidden;
}

.main-top{
    height: 360px;
    width: 400px;
}

.main-bottom{
    background: #383838;
    display: flex;
    padding: 40px;
    height: 360px;
}

.main-bottom-column{
    display: flex;
    flex-direction: column;
}

.main-bottom-column.main-bottom-column--left{
    margin-right: 10px;
}

.main-bottom-column.main-bottom-column--right{
    margin-left: 10px;
}

.button-double{
    width: 80px;
    height: 180px;
    border-radius: 40px;
    background: #4B4B4B;
    box-shadow: 0 0 5px 5px #262626;
}

.button-double .button{
    box-shadow: none;
    background: none;
}

.button.button--large{
    width: 80px;
    height: 180px;
    border-radius: 40px;
}

.button{
    background: #4B4B4B;
    border: 0;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 5px #262626;
}


.button.button--last{
    margin: 0;
}
